# Dependencies
node_modules
npm-debug.log

# Version control
.git
.gitignore

# IDE
.idea
.vscode
.editorconfig

# Build and test
dist
coverage
test-reports
.angular

# Environment
.env
.env.*

# Documentation
README.md
LICENSE

# Docker
Dockerfile
.dockerignore
