body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #012a5b;
  color: white;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#map {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.stat {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(33% - 40px);
  min-width: 150px;
}

.stat h3 {
  margin: 0 0 10px;
  color: #333;
}

.stat p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #012a5b;
}
